
/*全局设置*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/*清除浮动*/
.cf::before , .cf::after{
  content:'';
  display: 'table'
}

.cf::after{
  clear: both
}

/*头部内容*/
.header {
    width: 100%;
    height: 100px;
    position: relative;
    padding-left: 100px;
    padding-right: 177px;
}
.header .logo {
  height: 100%;
  line-height: 100px;
  float: left
}

.header .logo img{
  vertical-align: middle;
}

.header .spacer {
  float: left;
  height: 100%;
  width: auto
}

.header .nav{
  height: 100%;
  width: auto;
  line-height: 100px;
  float: right
}

.nav li {
  display: inline-block;
  width: 80px;
  height: 35px;
  border-radius: 2px;
  text-align: center;
  line-height: 35px;
  color: rgb(112,112,112);
}

.nav li:hover {
  background: rgb(255,86,114);
  color: rgb(255,255,255);
  transition: background .5s ease-in-out;
}

.nav li a {
  text-decoration: none;
  color: inherit;
  font-size: 14px
}

.nav::after{
  content: url('../img/search.png');
}

/*主体内容*/
.content-top {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #fc758c;
  background: url('../img/bg.jpg');
  background-size: cover
}
.content-top::after {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fc758c;
  opacity: 0.8
}
.content-top .ui-text{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -415px;
  margin-top: -107px;
  text-align: center;
  z-index: 1111;
  color: #fff
}
.ui-text h2{
  font-size: 40px;
  word-spacing: 5px;
  letter-spacing: 16px;
}
.ui-text p{
  margin: 48px auto;
  width: 583px;
  line-height: 30px;
  font-size: 23px;
}
.ui-text a{
  display: inline-block;
  font-size: 10px;
  text-align: center;
  width: 170px;
  height: 32px;
  line-height: 32px;
  word-spacing: 10px;
  background: #ffffff;
  color: #ff5773;
  box-shadow: 1px 1px 16px rgba(37, 35, 35, 0.58);
  border-radius: 2px;
}
.ui-text a:hover{
  cursor: pointer;
}

.content-middle{
  width: 100%;
  color: #707070;
  text-align: center;
  margin-top: 70px;
}

.content-middle .icon {
  margin-left: -10px;
}

.content-middle .icon a{
  margin-left: 10px;
}


.content-middle .list-options{
  list-style: none;
  margin-top: 70px;
}

.content-middle .list-options li{
    height: 36px;
    display: inline-block;
    line-height: 36px;
}

.content-middle .list-options li:hover{
   content: '';
   color: rgb(255,255,255);
   background-color: #ff5672;
   transition: background .5s ease-in-out;
}

.content-middle .list-options li a{
  text-decoration: none;
  color: #707070;
  font-size: 14px;
  padding:0 15px;
}

.content-bottom {
  width: 1170px;
  margin:  75px auto 0;
}

.content-bottom .ui-imgs {
  /*margin-left: -30px;*/
  /*font-size: 0 ;//去除block间距问题*/
  -webkit-column-width:370px;
  -moz-column-width:370px;
  -webkit-column-gap:30px;
  -moz-column-gap:370px;
}

.content-bottom .ui-imgs li {
  display: inline-block;
  list-style: none;
  width: 370px;
  /*margin-left: 30px;*/
  position: relative;
  margin: 10px 0;
}

.content-bottom .ui-imgs li a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.5);
}

.content-bottom .ui-imgs li a h2 {
  width: 300px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom:  50%;
  margin-left: -150px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.content-bottom .ui-imgs li a p {
  position: relative;;
  top:  51%;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.content-bottom .ui-imgs li a:hover {
  background-color: rgba(0,0,0,.2);
}


.content-bottom .ui-imgs li img{
  width: 100%;
  z-index: -1;
  background-position: center;
}

.content-bottom .load-button{
  display: block;
  width: 170px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 10px auto 0;
  background-color: #ff5672 ;
  color: #fff;
  font-size: 16px;
}

.content-bottom .load-button:hover{
  cursor: pointer;
}

.footer {
  margin-top: 75px;
  color: #ccd7dd;
  font-size: 13px;
}

.footer p{
  text-align: center;
}

.footer p span{
  color: #ff5672;
}


.footer .share-icon{
  margin: 40px 0 40px -10px;
  text-align: center;
}

.footer .share-icon a{
  margin-left: 10px;
}

.footer .share-icon a:hover{
  cursor: pointer;
}





/*尾部内容*/
